<div class="container p-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-body">
                <h3>Add a Task</h3>
                <form action="/upload" method="POST">
                    <div class="form-group">
                        <label>Task </label>
                        <input type="text" name="title" class="form-control" autofocus>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Save Task</button>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <img id="imgPreview" class="img-fluid">
        </div>
    </div>
</div>