<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/signin" method="POST">
                        <div class="form-group">
                            <input type="email" name="identifier" id="identifier" class="form-control" placeholder="email" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control" placeholder="password">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Sign In
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>