<div class="container p-4">
    <div class="row">
        {{#each tasks}}
        <div class="col-md-3">
            <div class="card text-center card-custom">
                <div class="card-body">
                        <h4 class="card-title text-uppercase">
                            {{attributes.title}}
                        </h4>
                    {{!-- <p class="text-muted">
                        {{timeago created_at}}
                    </p> --}}
                    {{!-- <a class="btn btn-danger" href="/links/delete/{{id}}">
                        Delete Link
                    </a>
                    <a class="btn btn-secondary" href="/links/edit/{{id}}">
                        Edit
                    </a> --}}
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are not Task saved yet.</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>